@using Data
@model Data.Equipment

@{
    ViewData["Title"] = "Shop - Edit";
}

<div class="container">
    <div class="d-flex align-items-center justify-content-center position-relative">
        <h1 class="display-4 mb-3">@ViewData["Title"]</h1>
        <a class="btn btn-primary position-absolute" style="right: 0" asp-area="" asp-controller="Shop" asp-action="Index">Back</a>
    </div>
    @using (Html.BeginForm("Edit", "Shop", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new {@class = "text-danger"})
        @Html.ValidationSummary(true, "", new {@class = "text-danger"})
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, new {@class = "control-label col-md-2"})
            @Html.EditorFor(model => model.Name, new {htmlAttributes = new {@class = "form-control"}})
            @Html.ValidationMessageFor(model => model.Name, "", new {@class = "text-danger"})
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Description, new {@class = "control-label col-md-2"})
            @Html.TextAreaFor(model => model.Description, new {@class = "form-control"})
            @Html.ValidationMessageFor(model => model.Description, "", new {@class = "text-danger"})
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ImageUrl, new {@class = "control-label col-md-2"})
            @Html.EditorFor(model => model.ImageUrl, new {htmlAttributes = new {@class = "form-control"}})
            @Html.ValidationMessageFor(model => model.ImageUrl, "", new {@class = "text-danger"})
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Category, new {@class = "control-label col-md-2"})
            @Html.DropDownListFor(m => m.Category,
                new SelectList(Enum.GetValues(typeof(Category)), Model.Category),
                "Select Category", new {@class = "form-control browser-default custom-select"})
            @Html.ValidationMessageFor(model => model.Category, "", new {@class = "text-danger"})
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Cost, new {@class = "control-label col-md-2"})
            @Html.EditorFor(model => model.Cost, new {htmlAttributes = new {@class = "form-control"}})
            @Html.ValidationMessageFor(model => model.Cost, "", new {@class = "text-danger"})
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.Strength, new {@class = "control-label col-md-2"})
                @Html.EditorFor(model => model.Strength, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Strength, "", new {@class = "text-danger"})
            </div>
            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.Intelligence, new {@class = "control-label col-md-2"})
                @Html.EditorFor(model => model.Intelligence, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Intelligence, "", new {@class = "text-danger"})
            </div>
            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.Agility, new {@class = "control-label col-md-2"})
                @Html.EditorFor(model => model.Agility, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Agility, "", new {@class = "text-danger"})
            </div>
        </div>

        <a class="btn btn-danger" asp-area="" asp-controller="Shop" asp-action="Delete" asp-route-id="@Model.Id">Remove</a>

        <button type="submit" class="btn btn-primary">Submit</button>
    }
</div>
