@model Web.Models.NinjaDetailsViewModel
@{
    ViewData["Title"] = "Ninja Details";
}

<div class="container">
<div class="d-flex align-items-center justify-content-center position-relative">
    <h1 class="display-4 mb-3">@ViewData["Title"]</h1>
    <a class="btn btn-primary position-absolute" style="right: 0" asp-area="" asp-controller="Ninja" asp-action="Index">Back</a>
</div>
<div class="container">
<div class="row">
<div class="col">
    <div class="card mb-4 fixed-card-size">
        @if (Model.Helmet != null)
        {
            <img src="@Model.Helmet.ImageUrl" class="my-1 img-size" alt="...">
            <div class="card-body pt-1 pb-2">
                <h5 class="card-title">@Model.Helmet.Name</h5>
                <p class="card-text">@Model.Helmet.Description</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item py-2">
                    <span class="font-weight-bold">Strenght:</span> @Model.Helmet.Strength
                </li>
                <li class="list-group-item py-2">
                    <span class="font-weight-bold">Agility:</span> @Model.Helmet.Agility
                </li>
                <li class="list-group-item py-2">
                    <span class="font-weight-bold">Intelligence:</span> @Model.Helmet.Intelligence
                </li>
            </ul>
            <div class="card-body py-3">
                <a class="card-link" asp-area="" asp-controller="Ninja" asp-action="SellEquipment" asp-route-ninjaId="@Model.Id" asp-route-equipmentId="@Model.Helmet.Id">Sell equipment</a>
            </div>
        }
        else
        {
            <div class="card-body">
                <h5 class="card-title">Helmet</h5>
                <p class="card-text">Make your ninja better and buy him some equipment!</p>
            </div>
            <div class="card-body d-flex align-items-end">
                <a class="btn btn-primary" asp-area="" asp-controller="Shop" asp-action="Index" asp-route-ninjaId="@Model.Id">Buy helmet</a>
            </div>
        }
    </div>
    <div class="card mb-4 fixed-card-size">
        @if (Model.Leggings != null)
        {
            <img src="@Model.Leggings.ImageUrl" class="my-1 img-size" alt="...">
            <div class="card-body pt-1 pb-2">
                <h5 class="card-title">@Model.Leggings.Name</h5>
                <p class="card-text">@Model.Leggings.Description</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item py-2">
                    <span class="font-weight-bold">Strenght:</span> @Model.Leggings.Strength
                </li>
                <li class="list-group-item py-2">
                    <span class="font-weight-bold">Agility:</span> @Model.Leggings.Agility
                </li>
                <li class="list-group-item py-2">
                    <span class="font-weight-bold">Intelligence:</span> @Model.Leggings.Intelligence
                </li>
            </ul>
            <div class="card-body py-3">
                <a class="card-link" asp-area="" asp-controller="Ninja" asp-action="SellEquipment" asp-route-ninjaId="@Model.Id" asp-route-equipmentId="@Model.Leggings.Id">Sell equipment</a>
            </div>
        }
        else
        {
            <div class="card-body">
                <h5 class="card-title">Leggings</h5>
                <p class="card-text">Make your ninja better and buy him some equipment!</p>
            </div>
            <div class="card-body d-flex align-items-end">
                <a class="btn btn-primary" asp-area="" asp-controller="Shop" asp-action="Index" asp-route-ninjaId="@Model.Id">Buy leggings</a>
            </div>
        }
    </div>
    <div class="card mb-4 fixed-card-size">
        @if (Model.Sword != null)
        {
            <img src="@Model.Sword.ImageUrl" class="my-1 img-size" alt="...">
            <div class="card-body pt-1 pb-2">
                <h5 class="card-title">@Model.Sword.Name</h5>
                <p class="card-text">@Model.Sword.Description</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item py-2">
                    <span class="font-weight-bold">Strenght:</span> @Model.Sword.Strength
                </li>
                <li class="list-group-item py-2">
                    <span class="font-weight-bold">Agility:</span> @Model.Sword.Agility
                </li>
                <li class="list-group-item py-2">
                    <span class="font-weight-bold">Intelligence:</span> @Model.Sword.Intelligence
                </li>
            </ul>
            <div class="card-body py-3">
                <a class="card-link" asp-area="" asp-controller="Ninja" asp-action="SellEquipment" asp-route-ninjaId="@Model.Id" asp-route-equipmentId="@Model.Sword.Id">Sell equipment</a>
            </div>
        }
        else
        {
            <div class="card-body">
                <h5 class="card-title">Sword</h5>
                <p class="card-text">Make your ninja better and buy him some equipment!</p>
            </div>
            <div class="card-body d-flex align-items-end">
                <a class="btn btn-primary" asp-area="" asp-controller="Shop" asp-action="Index" asp-route-ninjaId="@Model.Id">Buy sword</a>
            </div>
        }
    </div>
</div>
<div class="col">
    <div class="card mb-4">
        <img src="@Model.SkinUrl" class="my-1 img-size" style="width: 100%; object-fit: contain; height: 1000%; padding: 3rem;" alt="Skin">
    </div>
    <div class="card">
        <h5 class="card-header text-center">Stats of @Model.Name</h5>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <span class="font-weight-bold">Wallet:</span> @Model.Gold/@Model.GetTotalGold()
            </li>
            <li class="list-group-item">
                <span class="font-weight-bold">Gear value:</span> @Model.GetGearValue()
            </li>
            <li class="list-group-item">
                <span class="font-weight-bold">Strenght:</span> @Model.GetTotalStrength()
            </li>
            <li class="list-group-item">
                <span class="font-weight-bold">Agility:</span> @Model.GetTotalAgility()
            </li>
            <li class="list-group-item">
                <span class="font-weight-bold">Intelligence:</span> @Model.GetTotalIntelligence()
            </li>
        </ul>
    </div>
</div>
<div class="col">
    <div class="card mb-4 fixed-card-size">
        @if (Model.Chestplate != null)
        {
            <img src="@Model.Chestplate.ImageUrl" class="my-1 img-size" alt="...">
            <div class="card-body pt-1 pb-2">
                <h5 class="card-title">@Model.Chestplate.Name</h5>
                <p class="card-text">@Model.Chestplate.Description</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item py-2">
                    <span class="font-weight-bold">Strenght:</span> @Model.Chestplate.Strength
                </li>
                <li class="list-group-item py-2">
                    <span class="font-weight-bold">Agility:</span> @Model.Chestplate.Agility
                </li>
                <li class="list-group-item py-2">
                    <span class="font-weight-bold">Intelligence:</span> @Model.Chestplate.Intelligence
                </li>
            </ul>
            <div class="card-body py-3">
                <a class="card-link" asp-area="" asp-controller="Ninja" asp-action="SellEquipment" asp-route-ninjaId="@Model.Id" asp-route-equipmentId="@Model.Chestplate.Id">Sell equipment</a>
            </div>
        }
        else
        {
            <div class="card-body">
                <h5 class="card-title">Chestplate</h5>
                <p class="card-text">Make your ninja better and buy him some equipment!</p>
            </div>
            <div class="card-body d-flex align-items-end">
                <a class="btn btn-primary" asp-area="" asp-controller="Shop" asp-action="Index" asp-route-ninjaId="@Model.Id">Buy chestplate</a>
            </div>
        }
    </div>
    <div class="card mb-4 fixed-card-size">
        @if (Model.Boots != null)
        {
            <img src="@Model.Boots.ImageUrl" class="my-1 img-size" alt="...">
            <div class="card-body pt-1 pb-2">
                <h5 class="card-title">@Model.Boots.Name</h5>
                <p class="card-text">@Model.Boots.Description</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item py-2">
                    <span class="font-weight-bold">Strenght:</span> @Model.Boots.Strength
                </li>
                <li class="list-group-item py-2">
                    <span class="font-weight-bold">Agility:</span> @Model.Boots.Agility
                </li>
                <li class="list-group-item py-2">
                    <span class="font-weight-bold">Intelligence:</span> @Model.Boots.Intelligence
                </li>
            </ul>
            <div class="card-body py-3">
                <a class="card-link" asp-area="" asp-controller="Ninja" asp-action="SellEquipment" asp-route-ninjaId="@Model.Id" asp-route-equipmentId="@Model.Boots.Id">Sell equipment</a>
            </div>
        }
        else
        {
            <div class="card-body">
                <h5 class="card-title">Boots</h5>
                <p class="card-text">Make your ninja better and buy him some equipment!</p>
            </div>
            <div class="card-body d-flex align-items-end">
                <a class="btn btn-primary" asp-area="" asp-controller="Shop" asp-action="Index" asp-route-ninjaId="@Model.Id">Buy boots</a>
            </div>
        }
    </div>
    <div class="card mb-4 fixed-card-size">
        @if (Model.Potion != null)
        {
            <img src="@Model.Potion.ImageUrl" class="my-1 img-size" alt="...">
            <div class="card-body pt-1 pb-2">
                <h5 class="card-title">@Model.Potion.Name</h5>
                <p class="card-text">@Model.Potion.Description</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item py-2">
                    <span class="font-weight-bold">Strenght:</span> @Model.Potion.Strength
                </li>
                <li class="list-group-item py-2">
                    <span class="font-weight-bold">Agility:</span> @Model.Potion.Agility
                </li>
                <li class="list-group-item py-2">
                    <span class="font-weight-bold">Intelligence:</span> @Model.Potion.Intelligence
                </li>
            </ul>
            <div class="card-body py-3">
                <a class="card-link" asp-area="" asp-controller="Ninja" asp-action="SellEquipment" asp-route-ninjaId="@Model.Id" asp-route-equipmentId="@Model.Potion.Id">Sell equipment</a>
            </div>
        }
        else
        {
            <div class="card-body">
                <h5 class="card-title">Potion</h5>
                <p class="card-text">Make your ninja better and buy him some equipment!</p>
            </div>
            <div class="card-body d-flex align-items-end">
                <a class="btn btn-primary" asp-area="" asp-controller="Shop" asp-action="Index" asp-route-ninjaId="@Model.Id">Buy potion</a>
            </div>
        }
    </div>
</div>
</div>
</div>
</div>
<script src="/js/ninja_details.js"></script>
