@model IEnumerable<Data.Ninja>
@{
    ViewData["Title"] = "Ninjas";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <a class="btn btn-primary m-2" asp-area="" asp-controller="Ninja" asp-action="Create">Create</a>
    <table class="table">
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gold)
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var ninja in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => ninja.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => ninja.Gold)
                </td>
                <td>
                    <a class="btn btn-secondary" asp-area="" asp-controller="Ninja" asp-action="">Details</a>
                    <a class="btn btn-secondary" asp-area="" asp-controller="Ninja" asp-action="Edit" asp-route-id="@ninja.Id">Edit</a>
                    <a class="btn btn-secondary" asp-area="" asp-controller="Ninja" asp-action="Delete">Delete</a>
                </td>
            </tr>
        }
        </tbody>
    </table>

</div>
